Repository ymkz/webmanifest-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, prettier --write, secretlint

.lintstagedrc.yml:

'package.json':
  - prettier-package-json --write
'*.ts':
  - eslint --fix
'*.json':
  - prettier --write
'*.yml':
  - prettier --write
'*.md':
  - prettier --write
'*':
  - secretlint

chore(deps): update dependency @types/node to v13.13.11
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/node to v13.13.12
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency lint-staged to v10.2.10
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency sharp to ^0.25.4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency lint-staged to v10.2.11
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @babel/core to v7.10.3
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update all major dependencies to v9
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update all minor dependencies
  .node-version
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: cleanup codebase
  .commitlintrc.yml
  .eslintrc.yml
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/check-pull-request.yml
  .github/workflows/healthcheck-master.yml
  .github/workflows/merge-check.yml
  .github/workflows/publish-package.yml
  .github/workflows/release-master.yml
  .gitignore
  .huskyrc.yml
  .lintstagedrc.yml
  .node-version
  .prettierignore
  .prettierrc.yml
  .releaserc.yml
  .secretlintrc.yml
  .vscode/settings.json
  CHANGELOG.md
  package-lock.json
  package.json
  public/assets/icon-128x128.png
  public/assets/icon-144x144.png
  public/assets/icon-152x152.png
  public/assets/icon-180x180.png
  public/assets/icon-192x192.png
  public/assets/icon-384x384.png
  public/assets/icon-72x72.png
  public/assets/icon-96x96.png
  src/index.ts
  tsconfig.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, prettier --write, secretlint

chore: fix setup-node job
  .github/workflows/check-pull-request.yml
  .github/workflows/healthcheck-master.yml
  .github/workflows/publish-package.yml
  README.md
Due: prettier --write, secretlint

feat: cleanup codebase
  .github/dependabot.yml
  .github/workflows/check-pull-request.yml
  .github/workflows/healthcheck-master.yml
  .github/workflows/healthcheck.yml
  .github/workflows/publish-package.yml
  .github/workflows/pullrequest.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  LICENSE
  README.md
  package-lock.json
  package.json
  public/assets/icon-128x128.png
  public/assets/icon-144x144.png
  public/assets/icon-152x152.png
  public/assets/icon-180x180.png
  public/assets/icon-192x192.png
  public/assets/icon-384x384.png
  public/assets/icon-512x512.png
  public/assets/icon-72x72.png
  public/assets/icon-96x96.png
  public/favicon.svg
  public/icon-x180.png
  public/icon-x192.png
  public/icon-x512.png
  public/manifest.webmanifest
  public/site.webmanifest
  src/index.ts
  template/favicon.svg
  template/site.webmanifest
Due: prettier-package-json --write, eslint --fix, prettier --write, secretlint

chore: add density option
  public/favicon.svg
  public/icon-x180.png
  public/icon-x192.png
  public/icon-x512.png
  src/index.ts
  template/favicon.svg
Due: eslint --fix, secretlint

0.3.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

0.4.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: modify README and correct versioning
  README.md
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

0.3.1
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

ci: fix branch name to use default branch by manual
  .github/workflows/healthcheck.yml
Due: prettier --write, secretlint
