Repository ymkz/webmanifest-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore: add renovate config file
  .github/renovate.json
Due: prettier --write

chore(release): 0.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  321adfec337259f2c9d4d269552e9a67f262dfbc
Due: none

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(readme): fix install sentence to add with yarn
  README.md
Due: prettier --write

chore(readme): purge dependabot badge and add renovate badge
  README.md
Due: prettier --write

chore: add secretlint for check credential
  .lintstagedrc.yml
  .secretlintrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(readme): fix prerequisites node version in readme
  README.md
Due: prettier --write

chore: add prepack script to build at pre-publish
  package.json
Due: prettier-package-json --write, prettier --write

chore: apply ymkz renovate config extend
  .github/renovate.json
Due: prettier --write

chore(deps): update dependency @babel/core to v7.8.7
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency @ymkz/eslint-config to v1.3.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency @ymkz/eslint-config to v1.3.0
  .eslintrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency @types/node to v13.9.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

fix(deps): update dependency sharp to ^0.25.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency secretlint to v0.8.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(release): 0.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  b335a766dd711786e05062ea143a57da11f56561
Due: none

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to v0.7.3
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency secretlint to v0.8.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency @types/node to v13.9.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency @ymkz/eslint-config to v1.4.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to v0.9.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency secretlint to v0.9.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update node.js to v12.16.1
  .node-version
Due: none

chore(deps): update dependency ts-node to v8.7.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to v0.10.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency secretlint to v0.10.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
